<h1>Editing project</h1>

    <p><b>old value</b></p>
    <p>
      <strong>Title:</strong>
      <%= @project.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @project.description %>
    </p>
    <p>---------------------------</p>
<%= form_for @project, url: project_path(@project), method: :patch do |p| %>
    <p>
      <%= p.label :title %><br>
      <%= p.text_field :title %>
    </p>

    <p>
      <%= p.label :description %><br>
      <%= p.text_area :description %>
    </p>

    <p>
      <%= p.submit 'update' %>
    </p>

<% end %>

<%= link_to 'Back', projects_path %>