<h1>Listing projects</h1>
<% if current_user.admin? %>
<%= link_to 'New Project', new_project_path %>
<% end %>
<table>
  <tr>
    <th width="100">Title</th>
    <th width="100">Description</th>
  </tr>

  <% @projects.each do |p| %>
      <tr>
        <td><%= p.title %></td>
        <td><%= p.description %></td>
        <td width = "50"><%= link_to 'Show', project_path(p)%></td>
        <% if current_user.project_id == p.id %>
        <td width = "50"><%= link_to 'Edit  ', edit_project_path(p)%></td>
        <% end %>
        <% if current_user.admin? || current_user.project_id == p.id%>
            <td width ="50"><%= link_to 'Destroy  ', project_path(p), method: :delete,data:{confirm: 'Are you sure?'}%></td>
        <% end %>
      </tr>
  <% end %>

</table>