<h1>New Project</h1>
<%= form_for :project, url: projects_path do |p| %>
    <% if @project.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@project.errors.count, "error") %> prohibited
            this project from being saved:
          </h2>
          <ul>
            <% @project.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
      <%= p.label :title %><br>
      <%= p.text_field :title %>
    </p>

    <p>
      <%= p.label :description %><br>
      <%= p.text_area :description %>
    </p>

    <p>
      <%= p.submit %>
    </p>
<% end %>
<%=link_to 'back', projects_path %>