<% if @stories!=nil%>
    <% @stories.each do |s|%>
        <% if s.project_id == @project.id%>
        <p><b>search result</b></p>
        <p><b>title:</b></p><%= s.title%>
        <p><b>description:</b></p><%= s.description%>
        <p><b>point:</b></p><%= s.point%>
        <p><b>stage:</b></p><%= s.stage%>
        <p><b>developer:</b></p>
        <% s.users.each do|u|%>
            <p>name:<%= u.name%></p>
            <p>email:<%= u.email%></p>
            <p>-------------------</p>
        <% end%>
        <% end %>
    <% end %>
<%end%>
<p></p>
<%=link_to 'Back', project_stories_path(@project)%>