<h1>Listing stories</h1>
<h2>ATTENTION: Only if you have the right to click a button, the button is able to be clicked!</h2>
<strong>search for projects:</strong>
<%=form_for :story, url: search_path(@project) do |f|%>
    <table border="2">
      <tr>
        <td align="center"><%=f.label :title%></td>
        <td align="center"><%=f.label :description%></td>
        <td></td>
      </tr>
      <tr>
        <td><%=f.text_field :title%></td>
        <td><%=f.text_field :description%></td>
        <td><%=f.submit 'search'%></td>
      </tr>
    </table>
<%end%>
<br>

<strong>list stories:</strong>
<% if @stories.count > 0%>
<table border="2">
  <tr>
    <td align="center" width="100">Title</td>
    <td align="center" width="100">Description</td>
    <td align="center" width="100">Point</td>
    <td align="center" width="100">Stage</td>
    <td align="center" width="100">Developer1</td>
    <td align="center" width="100">Developer2</td>
    <td align="center" width="100"></td><td align="center" width="100"></td><td align="center" width="100"></td>
  </tr>
<% @stories.each do |story| %>
    <tr>
      <td align="center"><%= story.title %></td>
      <td align="center"><%= story.description %></td>
      <td align="center"><%= story.point %></td>
      <td align="center"><%= story.stage %></td>
      <td align="center">
        <% if story.users[0]&& current_user!= story.users[0] %>
            <%= story.users[0].name+" ("+ story.users[0].email+")" %>
        <% elsif current_user  == story.users[0] %>
            <b><%= link_to 'SignOff', signoff_path(@project,story) %></b>
        <% elsif current_user&&!current_user.admin? && @project.id == current_user.project_id &&current_user.story_id ==nil%>
            <b><%= link_to 'SignUp' ,project_story_path(@project, story)%></b>
        <% end %>
      </td>
      <td align="center">
        <% if story.users[1]&& current_user!= story.users[1]%>
            <%= story.users[1].name+" ("+ story.users[1].email+")" %>
        <% elsif current_user  == story.users[1] %>
            <b><%= link_to 'SignOff', signoff_path(@project,story) %></b>
        <% elsif current_user&&!current_user.admin? && @project.id == current_user.project_id &&current_user.story_id ==nil%>
            <b><%= link_to 'SignUp' ,project_story_path(@project, story)%></b>
        <% end %>
      </td>
      <td align="center">
        <% if (current_user && @project.id == current_user.project_id)|| current_user.admin %>
            <b><%= link_to 'Edit', edit_project_story_path(@project, story)%></b>
        <% else%>
            Edit
        <% end %>
      </td>
      <td align="center">
        <% if (current_user && @project.id == current_user.project_id) || current_user.admin %>
            <b><%= link_to 'Destroy',[story.project,story],method: :delete, data:{confirm: 'are you sure?'}%></b>
        <% else %>
            Destroy
        <% end%>
      </td>
      <td align="center">
        <% if current_user.project_id == @project.id && story.users.count==2 && current_user.story_id ==nil%>
            <b><%= link_to 'replace', project_story_path(@project, story)%></b>
        <% else %>
            replace
        <% end %>
      </td>
    </tr>
<% end %>
</table>
<% else %>
    There is no story in this project right now, please create one!
    <br>
<% end %>


<br>
<% if (current_user && @project.id == current_user.project_id)|| current_user.admin %>
<%= render 'form' %>
<% end %>
<br>
<b><u><%= link_to 'Back', @project%></u></b>